	body, html{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: Helvetica;
		background-color: white;
	}
	button{
		width: 100%;
		font-size: 3em;
		padding: 1em;
		margin-bottom: 1em;
	}

	.servicesMessagesHolder, .imageMessagesHolder, .textMessagesHolder{
		width: 50%;
	}
	.servicesMessagesHolder{
		position: absolute 0 0;
		height: 16%;
		background-color: red;
	}
	.imageMessagesHolder{
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		background-color: green;
		overflow: scroll;
		background-image: url('images/background-pattern.jpg');
		background-repeat: repeat;
	}
	.textMessagesHolder{
		height: 42%;
		background-color: white;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.imageMessagesHolder .message {
		/*float: left;*/
	}
	.imageMessagesHolder img{
		float: left;
		width: 33%;
/*		min-width: 20%;
		max-width: 50%;
*/	}


	.hidden{
		display: none;
	}
	.wifiNetworkPasswordBlock{
		display: none;
	}
	.ui-button-text{
		font-weight: normal;
	}

	.mediumText{
		font-size: 1em;
		line-height: 1.8em;
		font-weight: normal;
	}
	.ui-dialog-title{
		font-weight: normal;
	}
	.no-close .ui-dialog-titlebar-close {
		display: none;
	}
	.bottomBar{
		width: 100%;
		position: fixed;
		bottom: 0;
		/*top: 90%;*/
	}
	.bottomBar .actionBtn{
		width: 30.5%;
		float: left;		
	}
	.bottomBar .connectedIndicator{
		width: 4%;
		background: #ff0000;
	}
	.connectedIndicator .ui-button-text{
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		color: black;
	}

	.startStopBtn{
		margin-left: 1.7%;
	}
	.statisticsDialogList{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.messagesHolder{
		width: 98%;
		padding: 1%;
		padding-top: 6%;
	}
	.message{
/*		padding: 1%;
		margin-bottom: 2%;
*/	}
	.message .title{
		font-size: 1.2em;
		font-weight: bold;
		float: left;
		line-height: 1.4em;
	}
	.message .time{
		float: right;
	}
	.floatFix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.floatFix{display:block;}
	/*  \*/
	.floatFix{min-height:1%;}
	* html .floatFix{height:1%;}	
