<!doctype html>
<html lang="en">
<head>
	<title>Snuffel</title>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, 
	width=device-width, height=device-height, initial-scale=1, maximum-scale=1">

	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />  


	<link href="/static/css/custom-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/socket.io/socket.io.min.js"></script>
	<script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js"></script>
	<!-- <script src="/static/hammer.js/hammer.js"></script> -->

</head>

<body>

	<div class="servicesMessagesHolder"></div>
	<div class="textMessagesHolder"></div>
	<div class="imageMessagesHolder"></div>
	
	<!-- Bottom bar with start/stop, info and settings button -->
	<!-- //
	<div class="bottomBar">
		<button class="actionBtn" data-action="toggle_sniffing">Start</button>
		<button class="actionBtn" data-action="get_statistics">Statistics</button>
		<button class="actionBtn" data-action="open_menu">Menu</button>
		<button class="actionBtn connectedIndicator" data-action="show_connection_status">0</button>	
	</div>
	// -->
	
	<!-- Show dialog telling you if the app is connected -->
	<div class="connectedIndicatorDialog dialog">message</div>

	<!-- Show some statistics -->
	<div class="statisticsDialog dialog">
		<span class="ui-helper-hidden-accessible"><input type="text" readonly/></span>
		<ul class="statisticsDialogList"></ul>
	</div>

	<!-- Dialog to confirm actions -->
	<div class="confirmationDialog dialog">msg</div>

	<!-- Dialog for the main menu -->
	<div class="mainMenuDialog dialog">
		<span class="ui-helper-hidden-accessible"><input type="text" readonly/></span>
		<button class="actionBtn" data-action="setup_wifi">Wifi setup</button><br />
		<button class="actionBtn" data-action="select_language">Language</button><br />
		<button class="actionBtn" data-action="restart_pi">Restart</button><br />
		<button class="actionBtn" data-action="shutdown_pi">Shut down</button><br />
	</div>

	<!-- Dialog to select a wifi network to connect to -->
	<div class="wifiSelectionDialog dialog">
		<span class="ui-helper-hidden-accessible"><input type="text" readonly/></span>
		<div class="wifiNetworkListHolder">
		    <select class="wifiNetworkList" name="wifiNetworkList"></select>
		</div><br />
		<div class="wifiNetworkPasswordBlock">
			<span class="mediumText">Password:<br /></span>
			<input class="wifiNetworkPassword" type="password" value="" />
		</div>
	</div>

	<!-- Generic dialog for showing different messages -->
	<div class="genericDialog dialog">		
		<div class="genericDialogMessage"></div><br />
		<div class="genericDialogProgressbar"></div>		
	</div>
</body>
</html>